@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rajdhani&display=swap');

body {
  background-color: #f6f6f6;
}

.App {
  /* text-align: center; */
  padding: 20px;

  font-family: 'Rajdhani', sans-serif;
  font-family: 'Indie Flower', cursive;
}
